* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 40px;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #4682B4;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form select,
form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

form button {
    width: 100%;
    padding: 12px;
    background-color: #4682B4;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

form button:hover {
    background-color: #356194;
}

.flash {
    margin-top: 20px;
    padding: 10px;
    background-color: #ffe5e5;
    border: 1px solid red;
    border-radius: 5px;
    text-align: center;
    color: #a94442;
}

.flash.success {
    background-color: #d4edda;
    border: 1px solid #28a745;
    color: #155724
}

.flash.danger {
    background-color: #f8d7da;
    border: 1px solid #dc3545;
    color: #723c24;
}

.flash-warning {
    background-color: #fff3cd;
    border: 1px solid #ffc107;
    color: #856404;
}

.flash-info {
    background-color: #fff3cd;
    border: 1px solid #16a2b8;
    color: #0c2460;
}

.dashboard {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    gap: 10px;
}

@media (max-width: 600px) {
    .container {flex-direction: column; }
}

.card h3 {
    margin-bottom: 10px;
}

.card.entrada {background-color: #d4edda; color: #155724; }
.card.saida { background-color: #f8d7da; color: #721c24; }
.card.saldo {background-color: #d1ecf1; color: #0c5460; }