<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerar Fluxo de Caixa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">
        <h2> Fluxo de Caixa</h2>

        <h2>Gerar relatório de fluxo de Caixa</h2>

        <form method="POST" action="/gerar">
            <label>Mês:</label>
            <select name="mes" required>
                <option value="">Selecione</option>
                {% for m in range(1,13) %}
                <option value="{{ m }}">{{ m }}</option>
                {% endfor %}
            </select>

            <label>Ano:</label>
            <input type="number" name="ano" min="2000" required>

            <button type="submit">Gerar PDF</button>
        </form>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <p class="flash">{{ messages[0] }}</p>
            {% endif %}
        {% endwith %}

        {% if resumo %}
        <div class="dashboard">
            <div class="card entrada">
                <h3>Entradas</h3>
                <p>{{ resumo.entrada }}</p>

            </div>
            <div class="card saída">
                <h3>Saídas</h3>
                <p>{{ resumo.saida }}</p>

            </div>
            <div class="card saldo">
                <h3>Saldo Final</h3>
                <p>{{ resumo.saldo}}</p>
            </div>
        </div>
        {% endif %}

        {% if pdf_file %}
            <a href="/download/{{ pdf_file }}" style="
                display: inline-block;
                background-color: #4682B4;
                color: white;
                padding: 10px 20px;
                border-radius: 5px;
                text-decoration: none;
                margin-top: 20px;
                cursor: pointer;
            ">Baixar PDF</a>
        {% endif %}

        <div style="margin-top: 20px;">
            <a href="/transacoes" style="
                display: inline-block;
                background-color: #28a745;
                color: white;
                padding: 10px 20px;
                border-radius: 5px;
                text-decoration: none;
                cursor: pointer;
            ">+ Adicionar Transações</a>
        </div>

    </div>
    <a href="/logout" style="
    display: inline-block;
    background-color: #d9534f;
    color:white;
    border:none;
    padding: 8px 16px;
    border-radius:5px;
    cursor:pointer;
    text-decoration: none;
    margin-top: 20px;">
        Logout
    </a>


</body>
</html>