<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <form method="post">
            <label>Usuário</label>
            <input type="text" name="username" required>
            <label>Senha</label>
            <input type="password" name="password" required>
            <buton type="submit">Entrar</buton>
        </form>
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% for cat, msg in messages %}
                <div class="flash {{ cat }}">{{ msg }}</div>
            {% endfor %}
        {% endwith %}
    </div>
</body>
</html>